.money{
    background-image: url(money.jpg);
    height:660px;
    width:1465px;
}
.sai{
    color:white;
    text-align: center;
}
.cha{
    color: white;
}
.dan{
    padding-left: 690px;
}